<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
      
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accoutService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      <form  *ngIf="(accoutService.currentUser$ | async) == null" #loginForm="ngForm" class="form-inline d-flex" (ngSubmit)="login()" autocomplete="off">
        <input class="form-control me-2" name="username" [(ngModel)]="model.username" type="text" placeholder="username">
        <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="password" placeholder="password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
      
      <div class="dropdown" *ngIf="(accoutService.currentUser$ | async) as user">
        <a class="dropdown-item profile-link-photo" routerLink="/member/edit">
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}" style="border-radius: 4px;">
        </a>
        <button class="btn btn-secondary dropdown-toggle" style="margin-left: 1px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{user.knownAs | titlecase}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
          <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
        </ul>
      </div>

    </div>
  </nav> 
